.footer{
    border-top: 1px solid #777;
}
.footer a {
    color: black;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #333;
}
.footer a:hover{
    border-bottom: 1px solid blue   ;
}